html {
  background-color: #456f95;
}

body {
  font-family: 'Germania One', cursive;
}

h1, h2, h3, h4 {
  font-size: 3.7em;
  color: white;
}

.para-tags {
  font-size: 2em;
  color: white;
}

.player-text {
  font-size: 1.3em;
  color: white;
  margin: 30px;
}

.button {
  margin: 5px;
  background-color: #456f95;
  border: solid 3px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius:5%;
  font-family: 'Germania One', cursive;
}

.button:hover {
  background-color: #FFF;
  color: #456f95;
}

.button:disabled {
  pointer-events: none;
}

.box {
  color: white;
  font-size: 5em;
  padding-top: 20px;
}

.container {
  text-align: center;
  align-content: center;
}

.box {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  display: inline-block;
  line-height: 80px;
}

.board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
}
